body {
    background-color: #2E3033;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1{
    color: #79BFC9;
    text-align: center;
}

#wrapper {
    width: 400px;
    margin: 0 auto;
}

p, a{
    color: white;
}

textarea {
    width: 400px;
    height: 200px;
    resize: none;
    display: block;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper span {
    text-align: center;
    color: white;
    padding: 10px;
    display: block;
}

input[type=submit] {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 150px;
    margin-left: 125px;
}

.validation-error ul{
    margin: 0;
    color: #ff0000;
    list-style-type: none;
}

.validation-error li{
    text-align: center;
    padding: 10px;
    display: block;
}

